#viz-graph {
  width: 960;
  height: 960px;
}

#viz-graph circle {
  fill-opacity: 0.25;
  stroke-width: 1px;
  fill: #1f77b4;
  stroke: #4682b4;
}

#viz-graph text {
  font: 10px sans-serif;
}

#viz-graph.circlepack text.parent {
  fill: #1f77b4;
}

#viz-graph.circlepack circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: 0.5px;
}

#viz-graph.radialtree .node {
  font: 10px sans-serif;
}

#viz-graph.radialtree .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/*#viz-graph.circlepack .leaf circle {
  fill-opacity: 0;
  pointer-events: none;
}*/

/*#viz-graph.circlepack .leaf text {
  opacity: 0;
}*/

